@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Great+Vibes&family=Titillium+Web:wght@300&display=swap');
.navbrand{
    font-family: 'Bungee Inline', cursive;
}
.color-nav{
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    background: linear-gradient(90deg,rgb(216, 210, 215),rgb(236, 226, 234));
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(30, 30, 56);
}
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(87, 12, 53);
}